<div class="container">
  <hr>
<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nnq">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/92cbin3fgme6257/tithe.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>About Us</h2>
           <a class="info" href="/pages/about">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nnq">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/tn0agxh95unvffv/Up.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Events</h2>
           <a class="info" href="/kistings">Learn more</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nnq">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/4dq1lhtbzd7s8ul/showoff.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>school Of Ministry</h2>
           <a class="info" href="/pages/school">Join</a>
        </div>

    </div>
  </div>

</div>



</div>