<div class="container caption">
	<div class = "center" >
    <h1>LOCATION AND SERVICES</h1>
    

<div class="row">

  <div class="col-xs-6 col-md-6">

	<p><strong>PASSOVER HARVEST CHURCH</strong> <br />Kyebando,Kisalosalo <br />Tel: +256 772 621889/ +256 701 342680 <br />E-mail: <a href="mailto:sentsjman1@gmail.com">sentsjman1@gmail.com</a><br />P.O Box 22046, Kampala, Uganda, East Africa</p>

   
  </div>
   <div class="col-xs-6 col-md-6">
   			<p><strong>SUNDAY SERVICES</strong><br />
			<strong>1st service:</strong>8:00 - 10:30 am English<br /><strong>2nd Service:</strong>11:00<em> -</em> 01:30pm English/Luganda<br /><strong>3rd Service:</strong>04:00-07:00pm Deliverance<br /><strong>Wednesday Service:</strong>6 - 8pm<em>. </em>Bible Study</p>
   
  </div>

 </div>
 </div>

	





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
   <div class="item active">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7979.490097368073!2d32.587773!3d0.34724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dba549616649b%3A0x70730a4e3796ef77!2sPassover+Haverst+Church-Bukoto+Mulimira+Zone!5e0!3m2!1sen!2sug!4v1482096450934" width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
     
    </div>
   
   
    
   
  </div>


  
</div>
</div><!-- /.container -->


