<div class="container caption center">



<div class="col-xs-12 col-md-12">
            <div class="thumbnail xx">

              
              
              <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/jsgfpt085ltw92a/055.JPG" alt="">


              <% link_to image_tag("") %>

             

            </div>
          </div>

          


           
              
<h2>EVANGELISM</h2>

 <p>At P.H.C we consider evangelism to be the responsibility of every believer, whereas we have an evangelism department and its leaders, these do exist for the purpose of spearheading some special outreach programs but we call all our members, who are the core of outreach, to a life dedicated
  to sharing of the gospel at every opportunity 

  <br />
  Special programs do however exist for evangelism with particular strategies mainly from our cell groupds, hospital ministry, open air meetings, institutions of learning among others

 </p>


  <h2>MISSIONS</h2>

   <p>At P.H.C we believe in organized effort to spread christianity and to build and ecnourage converts. We often therefore conduct missions by sending groups of missionairies in our country and across borders for the purpose of leading people to christ and strengthening the churches. We encourage our members to be part of this

  <br />
  Special programs do however exist for evangelism with particular strategies mainly from our cell groupds, hospital ministry, open air meetings, institutions of learning among others

 </p>

 

 <h2>PASSOVER BRANCH CHURCHES</h2>

 <hr>

 <div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/jezi6yzfunf9dwu/021.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/vvfq6z98t0xx4t2/054.JPG.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff">Learn More</a>
        </div>

    </div>
  </div>

   </div><!--/row-->



<div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">


    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/jxe8t7hpw8x6kmy/095.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff2">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">


    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/q9f8e6semrsv3by/135.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/contact">Learn More</a>
        </div>

    </div>
  </div>

  

</div>

<div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">
      
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7y434ivwiks9tkx/195.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff5">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">


    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/wplp4zmtcfr4nff/218.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff6">Learn More</a>
        </div>

    </div>
  </div>



</div>
<div class="row">


              




  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">


      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/g2snsqtcn5cdhka/069.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff1">Learn More</a>
        </div>

    </div>
  </div>



<div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">


      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/brhdt8a8f45nqg2/181.JPG" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2></h2>
           <a class="info" href="/pages/ministries.html#diff4">Learn More</a>
        </div>

    </div>
  </div>

   </div>