<div class="container caption center">
	<h1>Ministries</h1>

	<h4>Passover offers many opportunities to live out your passionate commitment to Christ, His Cause, and His Community. We pray that you and your family find a ministry where you know others, are known by others, and share life together around Jesus.</h4>
<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Men</h2>
           <a class="info" href="/pages/ministries">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/nqcsh0yxwpa3oyz/4.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Women</h2>
           <a class="info" href="/sistings">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/fm51bqyvbe0iq2c/5.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Kids</h2>
           <a class="info" href="/kistings">Learn More</a>
        </div>

    </div>
  </div>

</div>


<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>School of Ministry</h2>
           <a class="info" href="/listings">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/nqcsh0yxwpa3oyz/4.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Missions and Evangelism</h2>
           <a class="info" href="/sistings">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/fm51bqyvbe0iq2c/5.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Home Cells</h2>
           <a class="info" href="/kistings">Learn More</a>
        </div>

    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Age Groups</h2>
           <a class="info" href="/listings">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/nqcsh0yxwpa3oyz/4.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Worship Team</h2>
           <a class="info" href="/sistings">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/fm51bqyvbe0iq2c/5.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Changing Gowns</h2>
           <a class="info" href="/kistings">Gallery</a>
        </div>

    </div>
  </div>

</div>








</div>
