<div class="container caption center">


<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>MEN’S MINISTRY</h1>

 <h4>Men, what dream, vision or passion has God put in your heart? We’re here to help you transform your life into one God can use to accomplish great things!

Whether through fun events, learning opportunities, or weekend conference and retreats, you’ll not only connect with other men who are seeking the same things you are, but you’ll find the hope and encouragement to pursue God’s calling in your life.

Here are just a few ways to get involved:

BOLD MONDAYS

Men, it’s time to get serious about your position as leader in the home and in the world. It’s time to get BOLD!

We meet in The Plex at 6:30pm, but get there when you can. Everyone is invited. No registration is necessary. Just join us!
</h4>

	<h4>
		Come discover how you can be the man that you always wanted to be, the man your family needs you to be, and the man that God intends you to be. Attend BOLD on Monday nights and find out how you can be a real man of purpose and integrity every day of the week! Check the event calendar for more details.

	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>WOMEN’S MINISTRY</h1>

 <h4>Twirling is beautiful, graceful and freeing. It doesn’t change who you are. Rather it enables you to enjoy a moment of joy and abandonment. As women at NorthWood, we are free in Christ to be who God made us to be and to do what He has called us to do. Twirl will connect you with other women who will support and equip you to reach your full potential in every stage of life. It’s your time to shine! Join us as we Twirl together as sisters and as friends.

Come be a part of our Women’s Ministry by participating in the following groups or events:


</h4>

	
		<h3>WOMEN’S ENVISION ENCOUNTER</h3>
<h4>
If you have been looking for a way to go deeper with God and experience the work of the Holy Spirit like never before, we invite you to join us for this life-changing weekend. Envision Encounter will allow you to encounter God in a deeper and greater way than ever before. It is a time for healing. It is an opportunity to break the strongholds the enemy has on your life. And it’s a chance to experience the kind of freedom you’ve never known.

Check the event calendar for more details.

	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>kIDS’S MINISTRY</h1>

 <h4>When it comes to children, we know they thrive when given age-specific programs that are both fun and educational. Calvary Kids is a place where kids love to come week after week. Our mission is to REACH! We reach up worshiping God, we reach in serving one another, and we reach out to change the world. Our strategy is simply to incite WONDER, provoke DISCOVERY, and fuel PASSION in the heart of every child. These interlocking essentials are part of a key strategy we use to partner with parents. Our goal is to help kids see God for who He is and to see themselves the way God sees them, so they can love others the way God loves them.
</h4>

	<h4>
		Sunday school takes place during all the corporate worship experiences in the Children's Ministry Area.

       <p><strong>SUNDAY SERVICES</strong><br />
			<strong>1st service:</strong>8:00 - 10:30 am English<br /><strong>2nd Service:</strong>11:00<em> -</em> 01:30pm English/Luganda<br /><strong>3rd Service:</strong>04:00-07:00pm Deliverance<br /><strong>Wednesday Service:</strong>6 - 8pm<em>. </em>Bible Study</p>

	</h4>
  </div>
  </div>

  <hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>SCHOOL OF MINISTRY</h1>

 <h4>We have discipleship opportunities for all age groups—and several that are ministry-specific, like music. Many are taught by gifted seminary instructors from our own congregation. Join us today and and prepare your heart to go deeper, reach further, and encourage others along the way!

 	
</h4>

	<h4>
		For more information or questions regarding our school of ministry, please contact our Church by visiting the contact us page
	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>MISSIONS AND EVANGELISM</h1>

 <h4>Passover Harvest Church supports missionaries locally, nationally, and internationally. As a church, we partner with multiple churches in the metroplex to provide resources and share the Gospel of Jesus Christ. We also take national and international mission trips every year to enable our members to practice the Great Commission outside our own backyard. We are blessed to partner with the International Mission Board to support our missionaries all over the world and also provide a variety of opportunities throughout the year to serve our local community.




</h4>

	
		
<h4>
 Visit the Passover Rural churches Page for more Information	
	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>HOME CELLS</h1>

 <h4>"They worshiped together regularly at the temple each day, met in small groups in homes for communion, and shared their meals with great joy and thankfulness, praising God. The whole city was favorable to them, and each day God added to them all who were being saved."

-Acts 2:46-47

 




What are Home Cells?

Cells are the primary way in which we foster community "beyond the walls" at Calvary Church. As with the early church in Acts, God desires believers to live in community with one another and small groups are a critical and biblical way for believers to experience life together in community. 

Why should I join a Home Cell? 

We've had countless stories of small groups impacting lives in ways beyond measure. From healings, miracles, provision, to authentic relationships--small groups have transformed the hearts and lives of many at Calvary and you are no different. Our small groups aim to reach you with revelation and relationship and we hope you will join us!
</h4>

	<h4>
		When do they meet and how do i join? 

    We have groups that meet every thursday of the week during various times. We encourage you to find a group that fits your schedule and in the area where you live
    For more information or questions regarding small groups, please contact our Church by visiting the contact us page  
	</h4>
  </div>





</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>AGE GROUPS</h1>

 <h4>Men, what dream, vision or passion has God put in your heart? We’re here to help you transform your life into one God can use to accomplish great things!

Whether through fun events, learning opportunities, or weekend conference and retreats, you’ll not only connect with other men who are seeking the same things you are, but you’ll find the hope and encouragement to pursue God’s calling in your life.

Here are just a few ways to get involved:

BOLD MONDAYS

Men, it’s time to get serious about your position as leader in the home and in the world. It’s time to get BOLD!

We meet in The Plex at 6:30pm, but get there when you can. Everyone is invited. No registration is necessary. Just join us!
</h4>

	<h4>
		Come discover how you can be the man that you always wanted to be, the man your family needs you to be, and the man that God intends you to be. Attend BOLD on Monday nights and find out how you can be a real man of purpose and integrity every day of the week! Check the event calendar for more details.

	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-6 col-md-6">

  	<div class="thumbnail ww">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-6 col-md-6">

  	<h1>WORSHIP TEAM</h1>

 <h4>The Passover Choir leads majestic worship every Sunday morning at 7:00am and 11:00am in the Worship Center. This group is made up of unpaid volunteers who have a heart to serve, love the Lord, and are committed to using their talents to praise His name each week. Interested in joining the Choir ? Rehearse with us Tuesdays and Saturdays at 6:30pm in the Worship Center 


</h4>

	
		
  </div>






</div>

<hr>