<div class="container caption center">


<div class="row">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/3tcg1fmb1eophlb/men.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1>MEN’S MINISTRY</h1>

 <h4>P.H.C encourages men from all backgrounds to stand up and be counted for the lord.
  Through this a vibrant, christ-centered life-changing men's ministry has risen and is touching and changing many lives through different ministries such as: outreach, fellowships, discipleship, worship and serivce 
</h4>

	<h4>
		Come discover how you can be the man that you always wanted to be, the man your family needs you to be, and the man that God intends you to be. 
	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7t2lq4ocgsmqqua/women.jpg" alt="">

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8 ">

  	<h1 id="diff">WOMEN’S MINISTRY</h1>

 <h4>
P.H.C encourages and cultivates a strong women's ministry able to nurture the women of our church and our comumunity, welcoming them with open arms and connecting them to God and others, equipping them so they can discover more about God and themselves and thus becoming more effective in their ministry, both to God and other women

</h4>

	

  </div>








</div>
   <div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



     <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/jccm0eekruhhdfp/DSC00825.JPG" alt="">

      <% link_to image_tag("") %>

    

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



     <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/ilvz1hkja8ufnw5/DSC01235.JPG" alt="">

      <% link_to image_tag("") %>

      

    </div>
  </div>

   </div><!--/row-->

 <div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/8pzmx62rac5ct42/DSC05354.JPG" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/0ksrazjdlw7tmkj/DSC05595.JPG" alt="">

      <% link_to image_tag("") %>

      

    </div>
  </div>

   </div><!--/row-->

 <div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/wfebv4najho95ia/IMG_2451.JPG" alt="">

      <% link_to image_tag("") %>

    

    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="thumbnail wwe">



       <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/n4ve2wdw4pz8klc/IMG_2452.JPG" alt="">

      <% link_to image_tag("") %>

     
    </div>
  </div>

   </div><!--/row-->

<hr>

<div class="row">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7qfp1x65zn85d98/kids.jpg" alt="">

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1 id="diff1">kIDS’S MINISTRY</h1>

 <h4>
  P.H.C children's ministry exists to glorify God through evangelising children and bringing them to the knowledge of christ, learn to serve and them go share christ in the world
</h4>

	<h4>
		Sunday school takes place during all the corporate worship experiences in the Children's Ministry Area.

       <p><strong>SUNDAY SERVICES</strong><br />
			<strong>1st service:</strong>8:00 - 10:00 am English Only<br /><strong>2nd Service:</strong>10:30 am<em> -</em> 01:30pm English-Luganda<br /><strong>3rd Service:</strong>04:30-07:30pm English-Luganda<br /><strong>Wednesday Service:</strong>6:00pm - 8:00pm<em>. </em>English-Luganda</p>

	</h4>
  </div>
  </div>

  <hr>

<div class="row ">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/4dq1lhtbzd7s8ul/showoff.jpg" alt="">

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1 id="diff2">SCHOOL OF DISCIPLESHIP AND MINISTRY</h1>

 <h4>P.H.C school of discipleship and ministry is a unique program designed for new converts, growing disciples and church ministers or workers<br />

  Divided into three programs, the school is an initiative to nourish and ground new converts, teach and equip growing disciples and prepare ministers or workers who have a strong desire to minister within the church and beyond
 	
</h4>

	<h4>
		For more information or questions regarding our school of ministry, please contact us by visiting the contact us page
	</h4>
  </div>






</div>

<hr>





<div class="row">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/x6li3c1rqxw2fxf/cell.jpg" alt="">

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1 id="diff4">CELL GROUP MINISTRY</h1>

 <h4>"They worshiped together regularly at the temple each day, met in small groups in homes for communion, and shared their meals with great joy and thankfulness, praising God. The whole city was favorable to them, and each day God added to them all who were being saved."

-Acts 2:46-47 <br />

 

P.H.C is a cell-based church. We are passionate about discipling and equipping all saints and the cell ministry is the best environment in which to do this, we encourage all our members to belong to a cell group and to weekly participate in the cell fellowship and program

<br />
<br />
Why should I join a Home Cell? 
<br />

We've had countless stories of small groups impacting lives in ways beyond measure. From healings, miracles, provision, to authentic relationships--small groups have transformed the hearts and lives of many at P.H.C and you are no different. Our small groups aim to reach you with revelation and relationship and we hope you will join us!
</h4>
<br />
	<h4>
		When do they meet and how do i join? 
    <br />

    We have groups that meet every thursday of the week during various times. We encourage you to find a group that fits your schedule and in the area where you live
    For more information or questions regarding small groups, please contact our Church by visiting the contact us page  
	</h4>
  </div>





</div>

<hr>

<div class="row">

  <div class="col-xs-4 col-md-4">

  	<div class="thumbnail nn">
      
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/z3kvj1zyjp8ojrj/age.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1 id="diff5">AGE GROUPS</h1>

 <h4>
</h4>

	<h4>
		At P.H.C everyone is important and everyone has a place, from birth to eldery citizens, we try to provide a community that fits everyone's need, catering for babies, school-going children, teens, young adults, adults and the eldery. 
    <br />
    We invite everyone to join us as we learn and grow together. There is always room for one more to Join
	</h4>
  </div>






</div>

<hr>

<div class="row">

  <div class="col-xs-4 col-md-4">

  	 <div class="thumbnail nn">

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/xgzybze2dbhnqpn/music.jpg" alt="">

      <% link_to image_tag("") %>

     

    </div>
  </div>



  <div class="col-xs-8 col-md-8">

  	<h1 id="diff6">MUSIC MINISTRY</h1>

 <h4>At P.H.C we highly value and honor good music, our music ministry is committed to facilitating worship, fellowship, encouragement, deliverance and outreach. Praise and worship in our services is enhanced through various musical ensembles that participate both in our sunday and midweek services.
  If you sing or play an instrument, we would love you to Join us

</h4>

	
		
  </div>






</div>

<hr>