<div class="container caption center">
	<h1>Ministries</h1>

	<h4>Passover offers many opportunities to live out your passionate commitment to Christ, His Cause, and His Community. We pray that you and your family find a ministry where you know others, are known by others, and share life together around Jesus.</h4>
<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/3tcg1fmb1eophlb/men.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Men's Ministry</h2>
           <a class="info" href="/pages/ministries">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7t2lq4ocgsmqqua/women.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Women's Ministry</h2>
           <a class="info" href="/pages/ministries.html#diff">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7qfp1x65zn85d98/kids.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Kid's Ministry</h2>
           <a class="info" href="/pages/ministries.html#diff1">Learn More</a>
        </div>

    </div>
  </div>

</div>


<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/4dq1lhtbzd7s8ul/showoff.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>School of Discipleship and Ministry</h2>
           <a class="info" href="/pages/ministries.html#diff2">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/0rqf9jzxpzkc019/missions.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Missions and Evangelism</h2>
           <a class="info" href="/pages/contact">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/x6li3c1rqxw2fxf/cell.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Cell Groups</h2>
           <a class="info" href="/pages/ministries.html#diff4">Learn More</a>
        </div>

    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
      
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/z3kvj1zyjp8ojrj/age.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Age Groups</h2>
           <a class="info" href="/pages/ministries.html#diff5">Learn More</a>
        </div>

    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/xgzybze2dbhnqpn/music.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Music Ministry</h2>
           <a class="info" href="/pages/ministries.html#diff6">Learn More</a>
        </div>

    </div>
  </div>



</div>








</div>
