<div class="container caption center">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Our Story</h1>
             </div>

               <div class="row">

          <div class="col-xs-12 col-md-12">
            <div class="thumbnail xx">
              
              <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/kt97s1le8f20bem/IMG_20161225_122833.jpg" alt="">


              <% link_to image_tag("") %>

             

            </div>
          </div>

          </div><!--/row-->
            

           

       <h4>
          Passover Harvest Church was  started on 2nd May 2002 in a slum area of Bukoto-Kampala city, capital of Uganda
         
          Planted Through a joint evangelistic crusade effort, the young church grew quickly into a vibrant congregation of hundreds and eventually thousands of people
          <br />
          In its 15 years of existance, the church has continued to touch and change the lives of all age groups and has expanded to different areas of the nation and has gone beyond the borders of our country
        </h4>


        

  
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/pages/about" class="list-group-item">Our Mission and Vision</a>
            <a href="/pages/story" class="list-group-item active">Our Story</a>
            <a href="/pages/bishop" class="list-group-item">Our Founding Pastor and Bishop</a>
            <a href="/pages/senior" class="list-group-item">Our Senior Pastor</a>
            <a href="/pages/senior.html#diff" class="list-group-item">Staff</a>
            <a href="/pages/senior.html#diffs" class="list-group-item">New Here</a>
            <a href="/pages/senior.html#diffz" class="list-group-item">Service Time and Directions</a>
            
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>
     
     